  <script type="text/javascript" src="/js/jquery/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgyvLSdtWqZaxo5w7UCXQQDuFGstvOzOU&callback=locationReq"></script>

  <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>