html, body {
  width: 100%;
  height: 100%;
}
input[type='text'] {
  width: 95%;
  border: 1px solid #000;
  color: #000;
}
.form-control:focus {
 border-color: #000;
 outline: 0;
 box-shadow: none;
}
.form-control[disabled] {
  background-color: transparent;
}
.input-group {
  padding-bottom: 20px;
}
.search-btn {
  background: #C3FC08;
  border: 1px solid #000;
}
.col-sm-5 {
  padding: 30px 15px 15px 15px;
}
/* Bootstrap Overide */
.navbar-default {
  background-color: #000;
  border-color: #000;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}
/* Map */
#exe-map {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 5px;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}
#map-container {
  position: relative;
}
#map {
  height: 500px;
  width: 100%;
  margin-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 3px solid #1e6aaa;
  border-bottom: 3px solid #1e6aaa;
}