html, body {
  width: 100%;
  height: 100%;
}
input[type='text'] {
  width: 95%;
}
.input-group {
  padding-bottom: 20px;
}
#lat, #lng {
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
}
.col-sm-5 {
  border: 1px solid #000;
  padding: 30px 15px 15px 15px;
}
/* Bootstrap Overide */
.navbar-default {
  background-color: #000;
  border-color: #000;
}
/* Map */
#exe-map {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 5px;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}
#map-container {
  position: relative;
}
#map {
  height: 500px;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  border-top: 3px solid #1e6aaa;
  border-bottom: 3px solid #1e6aaa;
}