h1,h2,h3,h4,h5,li,ul,p {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
input[type='text'] {
  width: 95%;
  border: 1px solid #000;
  color: #000;
}
.form-control:focus {
 border-color: #000;
 outline: 0;
 box-shadow: none;
}
.form-control[disabled] {
  background-color: transparent;
}
.input-group {
  padding-bottom: 20px;
}
.search-btn {
  background: #C3FC08;
  border: 1px solid #000;
}
#search-field {
  padding: 0 15px 15px 15px;
  /*border: 1px solid #000;*/
}
.display-top {
  height: 110px;
}
.display-bottom {
  /*border: 1px solid #000;*/
  height: 102px;
  padding: 10px 0;
}
#currentWeatherIcon {
  height: 100px;
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: -1;
}
#weatherData {
  /*border: 1px solid #000;*/
  height: inherit;
  width: 55%;
  float: left;
  padding: 0 5px;
  position: relative;
}
#currentWeather {
  /*border: 1px solid #000;*/
  height: inherit;
  width: 45%;
  float: left;
  padding: 5px;
  position: relative;
}
#temperature {
  font-size: 2em;
}
#time {
  font-size: 2.2em;
}
#summary, #date {
  font-size: 1.2em;
}
.forecastIcon {
  height: 20px;
}
.day {
  float: left;
  width: 12%;
  text-align: center;
  margin: .25%;
}
#forecast .temp {
  font-size: .9em;
}
/* Weather Display */
#weather-display {
  /*border: 1px solid #000;*/
}

/* Bootstrap Overide */
.navbar-default {
  background-color: #000;
  border-color: #000;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}
/* Map */
#exe-map {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 5px;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}
#map-container {
  position: relative;
}
#map {
  height: 500px;
  width: 100%;
  margin-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 3px solid #1e6aaa;
  border-bottom: 3px solid #1e6aaa;
}

/*********************/
/* CSS TOGGLE SWITCH */
/*********************/
/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 20px;
  bottom: 13px;
}
.switch:after {
  content: "F / C";
  position: absolute;
  font-size: .8em;
  top: 20px;
  left: 10px;
}
.switch1 {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 20px;
  bottom: 13px;
}
.switch1:after {
  content: "Traffic";
  position: absolute;
  font-size: .8em;
  top: 20px;
  left: 5px;
}
/* Hide default HTML checkbox */
.switch input, .switch1 input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
input:checked + .slider {
  background-color: #000;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media (max-width: 900px) {
  #currentWeatherIcon {
    height: 60px;
  }
}